@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: white;
}

@layer components {
  .negateAutofillStyles:-webkit-autofill {
    box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: rgb(34 197 94);
    border-bottom: 1px solid #1c5832;
    caret-color: white;
  }

  .negateSidebarColor:-webkit-autofill {
    box-shadow: 0 0 0 30px #111111 inset;
  }
}

/* scrollbar z-index */
.os-scrollbar {
  z-index: 9999999999 !important;
}

/* Swiper styles */
@import url("./swiper.css");

/* Hero scroll down animation */
@import url("./scrollAnimation.css");

/* Geo screen loading animation */
@import url("./spinnerAnimation.css");

/* Music playing animation */
@import url("./musicBarsAnimation.css");

/* Fonts */
@import url("./fonts.css");

/* Cursor */
@import url("./cursorStyles.css");
