.musicBarsIcon {
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  bottom: 106px;
  z-index: 20;
}

.musicBarsIcon > span {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #ffa217;
  border-radius: 3px;
  transform-origin: bottom;
  transition: all 0.2s ease-in-out;
  animation: bounce 2.2s ease infinite alternate;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.musicBarsIcon > span:nth-of-type(2) {
  animation-delay: -2.2s; /* Start at the end of animation */
}
.musicBarsIcon > span:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

.muteSong > span {
  background-color: gray;
  animation-play-state: paused;
  opacity: 70%;
}

.muteSong::before {
  content: "";
  height: 19px;
  width: 3px;
  transition: all;
  transition-duration: 550s;
  rotate: -45deg;
  border-radius: 3px;
  z-index: 10;
  transform-origin: top left;
  background-color: white;
  position: absolute;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
