.bar {
  position: absolute;
  background-image: url("/icons/bar.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 192px;
  z-index: 10;
  animation: 2s infinite rotation;
}

.bar-small {
  width: 11px;
  height: 56px;
  background-image: url("/icons/bar-small.svg");
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  95% {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bar-1 {
  animation-delay: 0.1s;
}
.bar-2 {
  animation-delay: 0.16s;
}
.bar-3 {
  animation-delay: 0.22s;
}
.bar-4 {
  animation-delay: 0.28s;
}
.bar-5 {
  animation-delay: 0.36s;
}
.bar-6 {
  animation-delay: 0.42s;
}
